/// PRODUCT
@use 'utility';

.template-product,.template-shopify\.product{
   main{
      .images{
         width: 100%;
      }
      display: flex;
      flex-direction: column;
      @include utility.breakpoint(medium){
         border-top: 1px solid #e4e4e4;
         border-bottom: 1px solid #e4e4e4;
         width: 90%;
         max-width: 1200px;
         margin: 0 auto;
         flex-direction: row;
         padding: 24px 0;
      }
      @include utility.breakpoint(large){
         max-width: 1200px;
         padding: 48px 0;
      }
   }
}

.carousel-main{
   width: 100%;
   height: 80vw;
   @include utility.breakpoint(small){
      height: 60vw;
   }
   @include utility.breakpoint(medium){
      height: 45vw;
      max-height: 70vh;
      .is-flickity-fullscreen &{
         max-height: none;
      }
   }
   .cell{      
      width: 100%;
      height: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      background-image: url(../img/lettra.jpg);
      background-size: 200px;
      background-color: #f2f2f2;
      padding-bottom: 24px;
      .single &{
         padding-bottom: 0;
      }
      @include utility.breakpoint(medium){
         padding-bottom: 0;
      }
      img{
         transform: scale(.9);
         .is-flickity-fullscreen &{
            transform: scale(.95);   
         }
         pointer-events: none;
         max-width: 100%;
         max-height: 100%;
         filter: drop-shadow(0px 1px 2px rgba(0, 0, 0, 0.4));
      }
      
   }

   .flickity-page-dots {
      .single &{
         display: none;
      }
      @include utility.breakpoint(medium){
         display: none;
      }
      bottom: 10px;
      .dot{
         width: 8px;
         height: 8px;
         margin: 6px;
         @include utility.breakpoint(x-small){
            width: 10px;
            height: 10px;         
            margin: 8px;
         }
      }
   }
   
}

.flickity-prev-next-button{
   display: none;
   .is-flickity-fullscreen .single &{
      display: none;
   }
   .is-flickity-fullscreen &{
      @include utility.breakpoint(medium){
         display: block;
      }
   }
}

.carousel-nav{
   display: none;
   @include utility.breakpoint(medium){
      display: block;
      width: 100%;
      .thumbnail{
         width: 80px;
         height: 80px;
         border-radius: 4px;
         margin: 8px 8px 0 0;
         overflow: hidden;
         &.is-nav-selected{
            border: 2px solid #BFAA8F;
         }
         img{
            width: 100%;
            height: 100%;
            object-fit: cover;
         }
      }
   }
}

.thumb-hidden{
   .cta-block span{
      transform: translateX(-30px);
      @include utility.breakpoint(medium){
         transform: none;
      }
   }
   img{
      opacity: 0;
   }
}

.product-details{
   width: 90%;
   margin: 0 auto 32px auto;
   @include utility.breakpoint(small){
      width: 80%;
   }
   @include utility.breakpoint(medium){
      display: flex;
      flex-direction: column;
      justify-content: center;
      padding-left: 48px;
      margin: 0 auto ;
      width: 80%;
   }
   @include utility.breakpoint(large){
      width: 60%;
   }

   .product-title{
      font-size: 32px;
      margin-bottom: .1em;
      margin-top: .7em;
   }

   .product-subtitle{
      font-size: 18px;
      margin-top: 0;
      margin-bottom: 8px;
      font-family: 'Work Sans', sans-serif;
      color: #999;
   }

   .status{
      font-size: 14px;
      font-family: 'Work Sans', sans-serif;
      background-color: #CA6C6C;
      color: #fff;
      font-weight: 500;
      border-radius: 4px;
      padding: 6px 8px;
      display: inline-flex;
      align-self: flex-start;
   }
   .cta-block{
      // .mobile-thumb{
      //    display: flex;
      //    align-items: center;
      //    transition: transform 1s;
      //    justify-content: center;         
      // }
      // img{
      //    transition: opacity 1s;
      //    width: 56px;
      //    height: 56px;
      //    object-fit: cover;
      //    margin-right: 12px;
      //    border-radius: 8px;
      //    border: 1px solid #e4e4e4;
      //    @include utility.breakpoint(medium){
      //       display: none;
      //    }
         
      // }
      // background-color: #fff;
      // width: 100%;
      // display: flex;
      // align-items: center;
      // padding: 16px 18px 16px 16px;
      // justify-content: space-between;
      // border-top: 1px solid #e4e4e4;
      // position: fixed;
      // bottom: 0;
      // left: 0;
      // z-index: 1;
      // @include utility.breakpoint(medium){
      //    padding: 0;
      //    background-color: transparent;
      //    flex-direction: column;
      //    border-top: none;
      //    position: relative;
      //    align-items: flex-start
      // }

      .price, .shopify-buy__product__actual-price{
         font-family: 'Work Sans', sans-serif;
         font-weight: 600;
         font-size: 20px;
         @include utility.breakpoint(medium){
            font-size: 32px;
            width: 100%;
            margin: 8px 0 24px;
         }
      }
      button{
         display: inline-block;
         border: none;
         margin: 0;
         text-decoration: none;
         background-color: #BFAA8F;
         color: #ffffff;
         font-family: 'Work Sans', sans-serif;
         font-weight: 500;
         cursor: pointer;
         text-align: center;
         transition: background-color .25s ease-in-out, transform .15s ease;
         -webkit-appearance: none;
         -moz-appearance: none;
         @include utility.breakpoint(medium){
            width: 100%;
            text-align: center;
         }
         &:hover{
            background-color: #998162;
         }
         &:focus{
            background-color: #998162;
            outline: 1px solid #fff;
            outline-offset: -4px;
         }
         &:active{
            transform: scale(0.99);
         }
     }
   }

   .highlights{
      border-top: 1px solid #e4e4e4;
      border-bottom: 1px solid #e4e4e4;
      margin: 32px 0;
      padding: 32px 8px;
      font-family: 'Work Sans', sans-serif;
      font-size: 16px;
      line-height: 24px;
      list-style: none;
      li{
         &:before{
            content:"•";
            margin-right: 8px;
         }
      }
   }
   h2{
      margin-top: 2em;
      padding-top: 2em;
      border-top: 1px solid #eee;
      margin-bottom: 8px;
      text-transform: uppercase;
      font-weight: 600;
      letter-spacing: .06em;
      font-size: 16px;
   }
   .description{
      p{
         margin-top: 0;
         font-size: 16px;
         line-height: 1.5;
      }
   }
}

.product-buy-btn.shopify-buy-frame.shopify-buy-frame--product{
   width: 100%;
   @include utility.breakpoint(medium){
      display: flex;
      flex-direction: row-reverse;
      display: block;
   }
}



/* Flickity fullscreen v1.0.1
------------------------- */

.flickity-enabled.is-fullscreen {
      position: fixed;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      z-index: 10;
 }
 
 /* prevent page scrolling when flickity is fullscreen */
 html.is-flickity-fullscreen {
      overflow: hidden;
 }

 .flickity-fullscreen-button {
   display: block;
   right: 10px;
   top: 10px;
   width: 40px;
   height: 40px;
   border-radius: 100%;
 }
 
 .flickity-fullscreen-button-exit { display: none; }
 
 .flickity-enabled.is-fullscreen .flickity-fullscreen-button-exit { display: block; }
 .flickity-enabled.is-fullscreen .flickity-fullscreen-button-view { display: none; }
 
 .flickity-fullscreen-button .flickity-button-icon {
   position: absolute;
   width: 16px;
   height: 16px;
   left: 11px;
   top: 12px;
 }



.pivot{
   border-top: 1px solid #e4e4e4;
   .template-home &{
      border-top: 0;
   }
   @include utility.breakpoint(medium){
      border-top: none;
   }
   width: 90%;
   margin: 0 auto;
   max-width: 1200px;
   @include utility.breakpoint(large){
      margin: 80px auto;
   }
   .pivot-title{
      font-family: 'Cardo', serif;
      text-align: center;
      font-size: 28px;
      font-weight: 400;
      margin-top: 40px;
      margin-bottom: 32px;
   }
   .grid{
   margin: 8px auto 0 auto;
   display: grid;
   grid-gap: 1em;
   grid-template-columns: 1fr 1fr;
   @include utility.breakpoint(small){
      grid-template-columns: 1fr 1fr 1fr 1fr;
      grid-gap: 2em;
   }
   @include utility.breakpoint(large){
      grid-gap: 2.5em;
   }
   .product{
      width: 100%;
      text-decoration: none;
      color: #000;
      justify-content: flex-end;
      display: flex;
      flex-direction: column;
      margin-bottom: 1em;
      .product-title{
         font-family: 'Work Sans', sans-serif;
         display: block;
         margin-bottom: .25em;
         font-size: 16px;
         @include utility.breakpoint(large){
            font-size: 16px;
         }
      }
      .price{
         display: block;
         font-family: 'Work Sans', sans-serif;
         font-size: 14px;
         font-weight: 600;
         @include utility.breakpoint(small){
            font-size: 16px;
         }
      }
      img{
         width: 100%;
      }
      .frame{
         margin-bottom:.75em;
         filter: drop-shadow(0px 1px 2px rgba(0, 0, 0, 0.4));
         &.frame-active{
            filter: none;
            box-sizing: border-box;
            border: .8vw solid #000000;
            box-shadow: -.6vw .5vw 1.2vw #C0B9B2, inset -12px 4px 5px rgba(0, 0, 0, 0.3);
            @include utility.breakpoint(medium){
               border: 5px solid #000000;
               box-shadow: -7px 5px 10px #C0B9B2, inset -12px 4px 5px rgba(0, 0, 0, 0.3);
            }
         }
      }
   }
   }
}

.shopify-buy__btn-and-quantity{
   display: flex;

}

.shopify-buy__btn-and-quantity{

   .shopify-buy__quantity-container {

      input.shopify-buy__quantity{
         padding: 0.8em 1em;
         font-size: 18px;
         width: 56px;
         text-align: center;
         margin-right: 12px;   
         &[type=number]::-webkit-inner-spin-button {
            -webkit-appearance: none;
         }
      }
   }
   .shopify-buy__btn-wrapper{
      width: 100%;
      button.shopify-buy__btn{
         color: #fff;
         width: 100%;
         border-radius: 4px;
         padding: 0.86em 1em;
         font-size: 18px;
      }
   }
}

.shopify-buy__option-select__label{
   font-family: 'Work Sans', sans-serif;
   font-size: 13px;
}

.shopify-buy__option-select-wrapper{
   position: relative;
   .shopify-buy__option-select__select{
      appearance: none;
      background-color: transparent;
      border: 1px solid rgba(0, 0, 0, 0.12);
      margin: 0;
      width: 100%;
      font-family: inherit;
      padding: 0.8em 1em;
      font-size: 18px;
      cursor: inherit;
      line-height: inherit;
      outline: none;
      margin-bottom: 12px;
      font-family: 'Work Sans', sans-serif;
      -webkit-appearance: none;
   }
   svg{
      width: 16px;
      position: absolute;
      top: 21px;
      right: 18px;
   }
}


.shopify-buy__cart-toggle__count{
   color: #555;
   font-family: "Work Sans", sans-serif;
   display: flex;
   &:before{
      display: block;
      margin-right: 6px;
      @include utility.breakpoint(small){
         margin-right: 13px;   
      }
      content: "";
      width: 24px;
      height: 24px;
      background-image: url('../img/bag.svg');
      background-size: contain;
   }
}

.shopify-buy--visually-hidden{
   display: none;
}
.shopify-buy-frame--toggle:not(.is-sticky){
   position: absolute;
   z-index: 5;
   top: 14px;
   right: 3.5%;
   position: absolute;
   @include utility.breakpoint(x-small){
      top: 35px;
      right: 4%;
   }
   @include utility.breakpoint(medium){
      top: 48px;   
   }
   @include utility.breakpoint(large){
      top: 4.7vw;   
   }
}